* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #fff8f0;
    box-sizing: border-box;
}

/* Header*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ee2c6b;
}
.header-top { padding: 10px 20px; }

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.menu-separator {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
}


.menu-separator {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
/*aaaa*/


#sidebar {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.match-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.character-card img {
    width: 150px;
    height: auto;
}




/*Footer */
footer {
    width: 100%;
    height: 3rem;
    background-color: #ee2c6b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    margin-top: auto;
    position: sticky;
    color: white;
    font-weight: bolder;
}